h1 {
    display: flex;
    justify-content: center;
}

h1:hover {
    text-shadow: red -3px 0, cyan 3px 0;
}

button {
    margin: 1%;
    background-color: lightgreen;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    cursor: pointer;
}

button:hover {
    text-shadow: red -3px 0, cyan 3px 0;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
}
